.note-text{
  position: absolute;
  border: 2px solid #2C3F59;
  border-radius: 25px;
  box-shadow: 0 0 10px #2C3F59;
/*  margin: 10px 750px 10px 750px;
  padding: 40px 0 10px 0;*/
  max-height: 200px;
  padding: 5px;
  left: 40%;
  right: 40%;
  top: 40%;
  background: #E9E9E9;
}