.App-content{
  grid-area: c;
  text-align: center;
  background-color: #E4E1DA;
}

.App-input{
  width: 50%;
  font-family: "Segoe UI", serif;
  border: 1px solid #E9E9E9;
  border-radius: 25px;
  text-align:center;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.5);
  margin: 30vh 0 0 0;
  padding: 10px 0 10px 0;
  font-size: 32px;
  background: #F7F5F2;
}

/*
#808080*/
